/.phpunit.cache
/bootstrap/ssr
/bootstrap/ssr
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.env.production
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode
/lang/php_*.json
/local_node_modules/vue3-recaptcha-v2/node_modules
**/.DS_Store
/laravel.log
/storage/logs
/storage/app/public

